
body{   
    font-family: Arial,sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-image: url(lms\ image\ front\ page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header{
    background-color: #0078d7;
    color: white;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0,0,0.2);
}
button{
    background-color: #0078d7;
    color: white;
    border:none ;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: #005fa3;
}
.conatiner{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
}
input{
    width: 200px;
    padding: 5px;
}
.form-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}